body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    width: 100%;
    height: 100%;
}
.container{
    opacity: 30%;
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 10px;
    overflow: auto;
}

.aanbiedingLijst, .productLijst{
    border: lightgray solid 1px;
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
    float: left;
    position: relative;
}

.aanbiedingButton, .productButton {
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
}

.addButton {
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    border-radius: 5px;
}

.aanbiedingId, .productId{
    display: none;
}

.text{
    display: block;
}

.input{
    font-size: 16px;
}

.registrerenButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}






