<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Categorie wijzigen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/generalCSS.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script type="text/javascript"  th:src="@{/js/winkelwagen.js}"></script>
<script type="text/javascript"  th:src="@{/js/categorie_toevoegen.js}"></script>

<body>

<div class="header">
    <div class="topbar">
        <a class="logo" href='/'>IAC</a>
        <i onclick="showWinkelwagen()" class="fa fa-shopping-cart fa-2x"></i>
        <a id="inlog" class="login" href="login.html">Inloggen</a>
        <a id="uitlog" class="loguit hidden" onclick="logout()" href="/">Uitloggen</a>
    </div>

    <nav class="navigatie">
        <a th:href="@{'/'}">Home</a>
        <a th:href="@{'/products'}">Alle categorieën</a>
    </nav>
</div>

<div class="container">
    <h3>Vul deze gegevens in om een categorie te wijzigen!</h3>
    <form class="categerieForm" method="POST" action="/api/uploadFile" enctype="multipart/form-data">
        <h4>
            Naam categorie:<input name="naam" class="input" type="text" required><p></p>
            Beschrijving: <input name="omschrijving" class="input" type="text" required><p></p>
            Afbeelding: <input name="file" class="input" type="file" required><p></p>
            Afbeelding Naam: <input class="input" id="naam" type="text" name="name" required><p></p>
            <input name="optie" value="/" style="display: none">
            <input class="input3" onclick="wijzigCategorie()" type="submit" value="Wijzig Categorie!">
        </h4>
    </form>

</div>

</body>
</html>