<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:fragment="head">-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--<link rel="stylesheet" type="text/css" href="../css/winkelwagen.css" th:href="@{/static/css/winkelwagen.css}" >-->
    <!--<link rel="stylesheet" type="text/css" href="../css/header.css" th:href="@{/static/css/header.css}" >-->
    <!--<link rel="stylesheet" type="text/css" href="../css/login.css" th:href="@{/static/css/login.css}">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/generalCSS.css" th:href="@{/static/css/generalCSS.css}">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">-->
<!--</head>-->

<!--<script type="text/javascript" href="../js/navigatie.js" th:href="@{/static/js/navigatie.js}"></script>-->
<!--<script type="text/javascript" href="../js/winkelwagen.js" th:href="@{/static/js/winkelwagen.js}"></script>-->
<!--<script type="text/javascript" href="../js/login.js" th:href="@{/static/js/login.js}"></script>-->


<!--<body onload="checkLogin(); winkelWagenContent()">-->
<!--<div th:fragment="header" class="header">-->
    <!--<div class="topbar">-->
        <!--<a class="logo" href='/'>IAC</a>-->
        <!--<i onclick="showWinkelwagen()" class="fa fa-shopping-cart fa-2x"></i>-->
        <!--<a id="inlog" class="login" href="login.html">Inloggen</a>-->
        <!--<a id="uitlog" class="loguit hidden" onclick="logout()" href="/">Uitloggen</a>-->
    <!--</div>-->

    <!--<nav class="navigatie">-->
            <!--<a th:href="@{'/'}">Home</a>-->
            <!--<a th:href="@{'/products'}">Alle</a>-->
            <!--<<a th:each="categorie: ${categories}" th:href="@{'/products/${category.id}'}" th:text="${categorie.naam}"></a>-->
    <!--</nav>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->