<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Klant Gegevens</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/css/generalCSS.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/winkelwagen.css}">
    <link rel="stylesheet" href="text/css"  th:href="@{/css/klanten.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<script type="text/javascript" src="../js/winkelwagen.js" th:src="@{/js/winkelwagen.js}"></script>
<script type="text/javascript" src="../js/login.js" th:src="@{/js/login.js}"></script>
<!--<script type="text/javascript" src="../js/klant.js" th:src="@{/js/klant.js}"></script>-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>


<body onload="klantOphalen(); winkelWagenContent();">
<!--div voor header en navigatie-->
<div class="header">
    <div class="topbar">
        <a class="logo" th:href="${'/'}">IAC</a>
        <i onclick="showWinkelwagen()" class="fa fa-shopping-cart fa-2x"></i>
        <div sec:authorize="isAnonymous()"><a id="inlog" class="login" th:href="@{'/login'}">Inloggen</a></div>
        <div sec:authorize="isAuthenticated()"><a id="uitlog" class="loguit" th:href="${'/logout'}">Uitloggen</a></div>
    </div>
    <nav class="navigatie">
        <a th:href="@{'/'}">Home</a>
        <a th:href="@{'/products'}">Alle</a>
    </nav>
</div>

<div class="container">
    <div class="winkelwagen-header">
        <h2>Klant gegevens: </h2>
    </div>
    <div class="klanten-body" th:each="klant : ${klant}" th:each="adres : ${adres}">
        <table id="klanten-tabel">
            <tr>
                <th>Naam:</th>
                <th th:text="${klant.naam}"></th>
            </tr>
            <tr id="email">
                <th>Email:</th>
                <th th:text="${klant.email}"></th>
            </tr>
            <tr id="straat">
                <th>Straat:</th>
                <th th:text="${adres.straat}"></th>
            </tr>
            <tr id="postcode">
                <th>Postcode:</th>
                <th th:text="${adres.postcode}"></th>
            </tr>
            <tr>
                <th>Plaats:</th>
                <th th:text="${adres.plaats}"></th>
            </tr>
        </table>
    </div>
</div>
</body>
</html>