<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/header.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<script type="text/javascript" src="/js/login.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<body>
<div class="header">
    <div class="topbar">
        <a class="logo" th:href="${'/'}">IAC</a>
    </div>
    <nav class="navigatie">
        <a th:href="@{'/'}">Home</a>
    </nav>
</div>

<div class="loginContainer">
    <h2>Login</h2>
    <h4>Bestaande klanten.</h4>
    <form name="loginform" action="/login" class="loginForm" method="post">
        <div th:if="${param.error}"><label class="errorLabel">Uw gegevens zijn onjuist!</label><br></div>
        <div th:if="${param.success}"><label class="successLabel">U bent ingelogt!</label><br></div>
        <input placeholder="Gebruikersnaam" name="username" type="text" required><br>
        <input placeholder="Wachtwoord" name="password" type="password" required><br>
        <input id="Login" value="Login" type="submit"><br>
    </form>
    <hr>
    <h2>Nieuw in onze webshop?</h2>
    <h4>Maak gemakkelijk een account aan.</h4>
    <input type="button" onclick="window.location.href='/registreren'" value="Maak een account aan">
</div>
<script>
</script>
</body>
</html>