<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Product toevoegen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/generalCSS.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/winkelwagen.js" th:src="@{/js/winkelwagen.js}"></script>
<script type="text/javascript" src="/js/product_toevoegen.js" th:src="@{/js/product_toevoegen.js}"></script>

<body>


<div class="header">
    <div class="topbar">
        <a class="logo" href='/'>IAC</a>
        <i onclick="showWinkelwagen()" class="fa fa-shopping-cart fa-2x"></i>
        <a id="inlog" class="login" href="login.html">Inloggen</a>
        <a id="uitlog" class="loguit hidden" onclick="logout()" href="/">Uitloggen</a>
    </div>

    <nav class="navigatie">
        <a th:href="@{'/'}">Home</a>
        <a th:href="@{'/products'}">Alle categorieën</a>
    </nav>
</div>

<div class="container">
    <h3>Vul deze gegevens in om een product toe te voegen aan de webshop!</h3>
    <h4>
    <form class="productForm" method="POST" action="/api/uploadFile" enctype="multipart/form-data" onsubmit="toevoegen()">
        Naam product:
        <input id="naam1" name="naam" class="input" type="text" required><p></p>
        Prijs:
        <input id="prijs" name="prijs" class="input" type="number" required><p></p>
        Afbeelding:
        <input name="file" class="input" type="file" required><p></p>
        Afbeelding Naam:
        <input class="input" id="naam" type="text" name="name" required><p></p>
        <input name="optie" class="optie" value="/api/product/add" style="display: none">
        Wilt u bij dit product geen categorie, nieuwe categorie of een bestaande categorie toevoegen?<p></p>
        <input type="submit" value="Voeg product toe!"><p></p>
        <button onclick="nieuwe_categorie()" >Nieuwe categorie toevoegen</button><p></p>
        <button onclick="bestaande_categorie()">Bestaande categorie toevoegen</button>
    </form>

    </h4>



</div>

</body>
</html>